/* universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

/* shared style */
.btn {
    padding: 12.5px 16px;
    background-color: #30b868;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* main styles */

header {
    padding: 24px 120px;
}

#nav{
    display: flex;
    justify-content: space-between;
}
.nav-links ul{
    display: flex; 
    gap: 32px;
    align-items: center;
    padding-top: 10px;
}
.nav-links li{
    list-style: none;
}

.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}

.banner {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 2042px;
    height: 694px;
}
.banner-container{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     padding: 154px 341px 0px;
}

.ad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 229px;
    border: 1px solid;
    border-radius: 1000px;
    background-color: white;
    /* margin-bottom: 16px; */
}

.ad img {
    width: 16px;
    height: 16px;
    background-color: white;
}

.ad p {
    padding: 8px 12px 8px 6px;
    background-color: white;
    color: #30b868;
    font-size: 16px;
    font-weight: 500;
    
}

#banner-text h1 {
    margin: 16px 294px;
    font-size: 62px;
    font-weight: 700;
    text-align: center;
    max-width: 770PX;
    line-height: 84px;
    height: 184px;
    color: rgba(255, 254, 254, 0.945);
}
#banner-text .green-cl {
    color: #30b868;
}

#banner-text p {
    margin: 0px 294px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 254, 254, 0.945);
    line-height: 24px;
    height: 60px;
    margin-bottom: 32px;
}

#banner-button {
    display: flex;
    gap: 16px;
}
#banner-button .btn-1 {
    box-sizing: border-box;
    padding: 12.5px 16px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: none;
    background: none;
    border: 1px solid rgba(255, 255, 255, 1);
}


