/* universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

/* shared style */
.btn {
    padding: 12.5px 16px;
    background-color: #30b868;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.section-heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    font-style: bold;
}

.section-p {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.green-cl {
    color: #30b868;
}
/* main styles */

header {
    padding: 24px 120px;
}

#nav{
    display: flex;
    justify-content: space-between;
}
.nav-links ul{
    display: flex; 
    gap: 32px;
    align-items: center;
    padding-top: 10px;
}
.nav-links li{
    list-style: none;
}

.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}

.banner {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 2042px;
    height: 694px;
}
.banner-container{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 154px 341px 0px;
}

.ad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 229px;
    border: 1px solid;
    border-radius: 1000px;
    background-color: white;
    /* margin-bottom: 16px; */
}

.ad img {
    width: 16px;
    height: 16px;
    background-color: white;
}

.ad p {
    padding: 8px 12px 8px 6px;
    background-color: white;
    color: #30b868;
    font-size: 16px;
    font-weight: 500;
    
}

#banner-text h1 {
    margin: 16px 294px;
    font-size: 62px;
    font-weight: 700;
    text-align: center;
    max-width: 770PX;
    line-height: 84px;
    height: 184px;
    color: rgba(255, 254, 254, 0.945);
}
#banner-text .green-cl {
    color: #30b868;
}

#banner-text p {
    margin: 0px 294px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 254, 254, 0.945);
    line-height: 24px;
    height: 60px;
    margin-bottom: 32px;
}

#banner-button {
    display: flex;
    gap: 16px;
}
#banner-button .btn-1 {
    box-sizing: border-box;
    padding: 12.5px 16px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: none;
    background: none;
    border: 1px solid rgba(255, 255, 255, 1);
}

.page-container {
   margin: 0 auto;
   width: 85%;
   max-width: 1360px;
   padding-right: 120px;
}

.container-text h2 {
    text-align: center;
    padding-top: 60px;

}

.container-text .section-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 44px;
}

.container-card-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0 auto;
    width: fit-content;
}

.container-card-box .container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    width: 370px;
    height: 320px;
    border: 1px solid #E1E8ED;
    border-radius: 8px;
}

.container-card-box .container-card img {
    width: 60px;
    height: 60px;
    padding: 14.4px 13.91px 13.96px 14.09px;
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    margin: 0 ;
}

.container-card-box .container-card h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin: 16px 24px;
    width: 274px;
    text-align: center;
    color: black;
}

.container-card-box .container-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    text-align: center;
}

#just{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    height: 20px;
    text-align: left;
    margin-bottom: 16px;
}


.container-text-2 h2 {
    text-align: left;
    line-height: 58px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.container-text-2 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #627382;
    width: 500px;

    margin-bottom: 40px;
}

.check-box {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 24px;
}

.page-container-2 {
    display: flex;
    justify-content: center;
    padding: 120px;
    gap: 60px;
}

.container-right-section{
    padding-top: 102px;
    min-width: 700px;
}

.page-container-3 {
    margin: 2px 120px 120px 120px;
}

.page-container-3 .content {
    min-width: 1280px;
    padding: 80px 40px;
    background-color: #f7f6f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-container-3 .content h2 {
    text-align: center;
    margin-bottom: 16px;
}

.page-container-3 .content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    text-align: center;
    max-width: 700px;
    margin-bottom: 24px;
}

.page-container-3 .content-button .btn {
    padding: 16px;
    margin-bottom: 16px;
}